html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.6; }

@media (min-width: 70em) {
  main {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas: "a b" "a c"; } }

main .intro {
  grid-area: a;
  align-self: center;
  text-align: initial; }

main .banner__text {
  grid-area: b; }

main .form {
  grid-area: c; }

body {
  max-width: 80em;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: no-repeat url(../images/bg-intro-desktop.png);
  background-color: #ff7a7a;
  background-blend-mode: multiply;
  display: grid;
  place-items: center; }

.intro {
  color: white;
  margin-bottom: 4rem;
  max-width: 55ch; }
  .intro__title {
    font-weight: bolder;
    margin-bottom: 1.5rem;
    max-width: 55ch;
    line-height: 1.2;
    font-size: 2.5rem; }
    @media (min-width: 70em) {
      .intro__title {
        font-size: 3.7rem; } }
  .intro__text {
    margin-bottom: 1rem; }

.banner__text {
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  background-color: #6055a5;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }
  .banner__text span:last-child {
    opacity: 0.7; }

.form {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem; }
  .form__control {
    display: flex;
    align-items: center;
    border: 1px solid #b9b6d3;
    border-radius: 0.5rem;
    background-color: white;
    margin: 1rem 0; }
    .form__control input {
      padding: 1rem 1.5rem;
      width: 100%;
      border-radius: 0.5rem;
      outline: none;
      border: none; }
    .form__control input::placeholder {
      font-weight: bolder; }
    .form__control:focus-within {
      border: 1px dotted #b9b6d3; }
    .form__control img {
      display: none; }

.button {
  background-color: #38cc8c;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  cursor: pointer; }
  .button:hover, .button:focus, .button:focus-visible {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
    border: 2px dotted white; }
