$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$white: hsl(0, 100%, 100%);

$ff-default: "Poppins", sans-serif;
$fs-base: 1.25rem;
$fs-h4: 1.5rem;
$fs-h3: 2rem;
$fs-h2: 2.5rem;

$sm-spacer: 1rem;
$md-spacer: 1.5rem;
$bg-spacer: 2rem;

$border-radius: 0.5rem;
$desktop-media: 70em;
$text-width: 55ch;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  @media (min-width: $desktop-media) {
    display: grid;
    grid-gap: $md-spacer;
    grid-template-areas: "a b" "a c";
  }

  .intro {
    grid-area: a;
    align-self: center;
    text-align: initial;
  }

  .banner__text {
    grid-area: b;
  }

  .form {
    grid-area: c;
  }
}

body {
  max-width: 80em;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;

  font-size: $fs-base;
  font-family: $ff-default;
  text-align: center;

  background: no-repeat url(../images/bg-intro-desktop.png);
  background-color: $red;
  background-blend-mode: multiply;

  display: grid;
  place-items: center;
}

.intro {
  color: $white;
  margin-bottom: $bg-spacer * 2;
  max-width: $text-width;

  &__title {
    font-weight: bolder;
    margin-bottom: $md-spacer;
    max-width: $text-width;
    line-height: 1.2;
    font-size: $fs-h2;

    @media (min-width: $desktop-media) {
      font-size: $fs-h2 + 1.2rem;
    }

  }

  &__text {
    margin-bottom: $sm-spacer;
  }
}

.banner__text {
  margin: $md-spacer 0;
  padding: $sm-spacer $md-spacer;
  background-color: $blue;
  border-radius: $border-radius;
  color: $white;
  font-weight: 600;
  font-size: $fs-h4;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  span:last-child {
    opacity: 0.7;
  }
}

.form {
  background-color: $white;
  border-radius: $border-radius;
  padding: $md-spacer $bg-spacer;

  &__control {
    display: flex;
    align-items: center;

    border: 1px solid $grayish-blue;
    border-radius: $border-radius;
    background-color: white;
    margin: $sm-spacer 0;

    input {
      padding: $sm-spacer $md-spacer;
      width: 100%;
      border-radius: $border-radius;
      outline: none;
      border: none;
    }

    input::placeholder {
      font-weight: bolder;
    }

    &:focus-within {
      border: 1px dotted $grayish-blue;
    }

    img {
      display: none;
    }
  }
}

.button {
  background-color: $green;
  padding: $sm-spacer $md-spacer;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border: 2px solid transparent;

  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  cursor: pointer;

  &:hover, &:focus, &:focus-visible {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
    border: 2px dotted $white;
  }
}

